.infor_write_form{
	position:relative;
	@media all and (max-width:767px) {
		max-width: 600px;
    	margin: 0 auto;
	}
	.write_box{
		padding:25px 0;
		padding-right:225px;
		@media all and (max-width:767px) {
			padding:25px 0 10px;
			padding-right:100px;
		}
		@media all and (max-width:350px) {
			padding-right:80px;
		}
	}
	.btn_area{
		position:absolute;
		top:13px;
		right:60px;
		width:160px;
		input[type=image]{
			width:100%;
		}
		@media all and (max-width:767px) {
			top:18px;
			right:5px;
			width:90px;
		}
		@media all and (max-width:350px) {
			top:18px;
			width:75px;
		}
	}

	.write_zone{
		position: relative;
		label{
			z-index: 1;
			position: absolute;
			top:17px;
			left:0;
			width:150px;
			display:block;
			font-size:26px;
			text-align:right;
			@media all and (max-width:767px) {
				top:3px;
				font-size:15px;
				width:60px;
			}
			@media all and (max-width:350px) {
				width:51px;
			}
		}
		.put_box{
			padding-left:165px;
			@media all and (max-width:767px) {
				padding-left:70px;
			}
			@media all and (max-width:350px) {
				padding-left:60px;
			}
			select, input[type=text], input[type=tel]{
				width:100%;
				height:66px;
				padding-left:20px;
				font-size:22px;
				border-radius:6px;
				background-color:#ededed;
				border:0;
				outline:0;
				@media all and (max-width:767px) {
					font-size:15px;
					height:35px;
					padding:0 10px;
				}
				@media all and (max-width:350px) {
					font-size:13px;
				}
			}
			select{
				background:url('images/select.png') no-repeat 84% 50% #ededed;
				background-size: 17px;
				-webkit-appearance:none;
				-moz-appearance:none;
				-o-appearance:none;
				appearance:none;
				@media all and (max-width:767px) {
					background:url('images/select.png') no-repeat 89% 50% #ededed;
					background-size: 13px;
				}
				@media all and (max-width:350px) {
					background-size: 9px;
				}
			}
			select::-ms-expand{
				display:none;
			}
		}

		&.name{
			margin-bottom:15px;
		}
		&.tel{
			.put_box{
				@include cf;
				margin:0 -10px;
			}
			.pbox{
				position: relative;
				float:left;
				width:33.3333%;
				@include box-sizing;
				padding:0 10px;
				&:after{
					content:"-";
					display:block;
					position:absolute;
					top:16px;
					right:-3px;
					font-size:18px;
					color:#000;
					@media all and (max-width:767px) {
						top:4px;
						right:-4px;
					}
				}
				&:last-child{
					&:after{
						display:none;
					}
				}
			}
		}
	}
}